@font-face{
    font-family: "lexend-deca";
    src: url('../../../assets/font/LexendDeca-Regular.ttf');
}

body{
    width: 350px;
    height: 390px;
    font-family: 'lexend-deca';
    /* border: 1px solid; */
    margin: 0;
    display: flex;
    flex-direction: column;
}
:root{
    --light-gray: rgba(246, 246, 246, 0.836);
    --p-blue: rgb(62, 143, 248);
    --p-red: #FF8067;
    --old-red: rgb(255, 77, 77)
}
h1, h2, h3, h4, h5, h6, p, li, a, button {
    margin: 0;
    user-select: none;
}
img{
    -webkit-user-drag: none;
    user-select: none;
}
button{
    border-radius: 6px;
    padding: 10px 15px;
    outline: none;
    border: 0;
    font-family: 'lexend-deca';
    font-size: 17px;
    transition-duration: 0.1s;
}
button:hover{
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}
button:active{
    background-color: rgb(209, 209, 209);
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.body{
    height: calc(100% - 80px);
}

.btn{
    border: 0;
    outline: none;
    height: inherit;
    /* padding: 15px 20px; */
    width: 100%;
    color: white;
    font-size: 17px;
    /* font-weight: 600; */
    letter-spacing: 0.4px;
    font-family: sans-serif;
    background-color: rgb(62, 143, 248);
    /* // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    transition: background-color 280ms cubic-bezier(.4,0,.2,1);
    transition-property: box-shadow background-color;
    transition-duration: 280ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    border-radius: 6px;
    font-family: 'lexend-deca';
}
.btn:hover{
    cursor: pointer;
    /* // background-color: rgb(44, 129, 240); */
    background-color: rgb(41, 122, 230);
    /* // box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12); */
}
.btn:active{
    /* // background-color: rgb(39, 114, 212); */
    background-color: rgb(35, 103, 190);
    color: rgba(255, 255, 255, 0.877);
}
.icon-btn{
    padding: 8px;
    border-radius: 50%;
    height: 22px;
    transition-duration: 0.1s;
}
.icon-btn:hover{
    opacity: 0.5;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}
.icon-btn:active{
    background-color: rgb(196, 196, 196)
}

.back-btn{
    height: auto;
    opacity: 0.7;
    margin-left: -10px;
}
.back-btn:hover{
    opacity: 0.8;
}
.back-btn:active{
    opacity: 0.6;
}

/* .donate-btn{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.637);
    background: transparent;
    border: 1.5px solid rgb(219, 219, 219);
    padding: 5px 10px;
} */



/* spinner styles */
.animate_loader{
    height: 30px;
    display: flex;
}
.circular {
    animation: rotate 2s linear infinite;
    margin: 0 auto;
    height: inherit;
}
.animate_loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #00000045;
    stroke-width: 4.5;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes dash{
    0%{
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}


@-webkit-keyframes sheen {
    0% {
      -webkit-transform: skewY(-45deg) translateX(0);
              transform: skewY(-45deg) translateX(0);
    }
    100% {
      -webkit-transform: skewY(-45deg) translateX(12.5em);
              transform: skewY(-45deg) translateX(12.5em);
    }
  }
  
  @keyframes sheen {
    0% {
      -webkit-transform: skewY(-45deg) translateX(0);
              transform: skewY(-45deg) translateX(0);
    }
    100% {
      -webkit-transform: skewY(-45deg) translateX(12.5em);
              transform: skewY(-45deg) translateX(12.5em);
    }
  }
  
  .donate-btn {
    padding: 6px 10px;
    margin-right: 10px;
    color: gray;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #f6f6f6;
    font-size: 12px;
    display: inline-block;
    border-radius: 0.3em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  .donate-btn:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0);
    -webkit-transition: none;
    transition: none;
  }
  
  .donate-btn:hover {
    background-color: var(--p-red);
    color: #fff;
  }
  
  .donate-btn:hover:before {
    -webkit-transform: skewX(-45deg) translateX(13.5em);
            transform: skewX(-45deg) translateX(13.5em);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }