.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 25px;
  height: 60px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  width: 33px;
  height: 33px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}

.header h2 {
  opacity: 0.8;
  margin-left: 15px;
}

.header .menu-btn {
  border-radius: 6px;
  opacity: 0.4;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content .timer {
  width: 70%;
  margin: auto;
  padding: 20px;
}

.content .timer .timer-text-div {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.content .timer .timer-text-div h1 {
  font-size: 33px;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #838383;
  margin: auto;
}

.content .timer .btn-div {
  height: 50.8px;
}

.content .timer .btn-div #list-btn {
  margin-left: 15px;
  height: 100%;
}

.content .timer .btn-div #list-btn img {
  opacity: 0.45;
}

.content .timer .btn-div .list-btn:hover img {
  opacity: 0.5;
}

.graph-div {
  -webkit-box-flex: 3.1;
      -ms-flex-positive: 3.1;
          flex-grow: 3.1;
  padding-right: 5px;
}

.graph-div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
  margin: 0;
  height: 100%;
}

.graph-div li {
  width: 30px;
  background-color: black;
  margin-left: 5px;
  list-style-type: none;
  background-color: #ebebeb;
  border-radius: 6px 6px 0 0;
  -webkit-transition-duration: 0.16s;
          transition-duration: 0.16s;
  position: relative;
  display: inline-block;
}

.graph-div li div {
  visibility: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--light-gray);
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.233) 0px 1px 3px;
          box-shadow: rgba(0, 0, 0, 0.233) 0px 1px 3px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.graph-div li div p {
  opacity: 0.6;
  font-size: 13px;
}

.graph-div li div .time {
  margin-top: 2px;
}

.graph-div li:hover {
  background-color: var(--p-red);
}

.graph-div li:hover div {
  visibility: visible;
  opacity: 1;
}

.graph-div .b-l div {
  left: 100%;
  right: unset;
}

.graph-div .b-r div {
  right: 100%;
  left: unset;
}

.graph-div .no-data:hover {
  background-color: #9e9e9e;
}

.footer .auth-info-box {
  display: none;
  padding: 15px;
  margin: 15px;
  background-color: var(--light-gray);
  border-radius: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .auth-info-box p {
  font-size: 14px;
  opacity: 0.5;
}

.sub-btn {
  background-color: #e4e4e4;
  color: #838383;
  border-radius: 6px;
  padding: 10px 15px;
  outline: none;
  border: 0;
  font-family: 'lexend-deca';
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 17px;
  margin-left: 15px;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.sub-btn:hover {
  cursor: pointer;
  background-color: #d1d1d1;
  color: #6b6b6b;
}

.sub-btn:active {
  background-color: #c4c4c4;
}

.sklton-line {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, transparent), color-stop(50%, white), color-stop(66%, transparent));
  background-image: linear-gradient(to right, transparent 33%, white 50%, transparent 66%);
  background-size: 300% 100%;
  -webkit-animation: g-shine 1.4s infinite;
          animation: g-shine 1.4s infinite;
  background-color: rgba(0, 0, 0, 0.041);
}

@-webkit-keyframes g-shine {
  0% {
    background-position: right;
  }
  /*100% {
            background-position: left; it's the default value, no need to define it
        }*/
}

@keyframes g-shine {
  0% {
    background-position: right;
  }
  /*100% {
            background-position: left; it's the default value, no need to define it
        }*/
}
/*# sourceMappingURL=index.css.map */